<%= stylesheet_link_tag 'admin' %>

<%= render 'partials/nav' %>

<%= render 'partials/show_logo' %>
<button onclick="window.location.href='/videos'">Manage Videos</button>
<button onclick="window.location.href='/videos/new'">Add A Video To The Video Gallery</button>
<button onclick="alert('google analytics is not set up yet');">View Google Analytics</button>


<%= render 'partials/footer' %>

<%= javascript_include_tag 'nav' %>