<%= stylesheet_link_tag 'home' %>

<style>
  .documentation {
    width: 870px;
    height: 250px;
    display: block;
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 999999999999999999;
  }

    .number {
      width: 180px;
      height: 200px;
      background:#1f3952;
      float:left;
      border-radius: .3em;
    }

    .documentation p {
      margin-left: 200px;
      color:white;
      font-size:18px;
      font-family: "Helvetica Neue",sans-serif;
      line-height: 28px;
      margin-top: -10px;

    }

    .number h1 {
      color:white;
      font-size:22px;
      font-family:"Open Sans", sans-serif;
      text-align:center;
      font-weight: 100;
    }

    .right-footer-side input {
      color:white !important;
    }

    .bg {
      width: 100%;
      height: 100%;
      background:url(top-view-bg.png) center center no-repeat;
      background-size:cover;
      text-align:center;
      }

    .bg h1 {
      color:white;
      text-align:center;
      margin-top: 150px;
      font-family: "Open Sans", sans-serif;
      font-size:33px;
      text-transform: uppercase;
    }

    .bg p {
      color:white;
      font-size:17px;
      font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
      line-height: 28px;
      margin-left: 200px;
      margin-right: 200px;
    }

    .box2 {
      margin-left: 20px;
      width: 150px;
      height: 150px;
      margin-top: 40px;
      background:rgba(50,50,100,0.7);
      display: inline-block;
      position: relative;
    }

    .box-text {
      width: 100%;
      height: 100%;
    }

    .box-text h4 {
      color:white;
      font-family: "Open Sans", sans-serif;

    }



  @media only screen and (max-width: 1000px) {
    .box2 {
      margin: 0 !important;

    }

    .bg p {
      margin: 0 !important;
      font-size: 14px;
      margin-left: 40px !important;
      margin-right: 40px !important;
    }
    .bg {
      height: auto !important;
    }

    .stripe {
      display: none !important;
    }

    .number {
      position: relative !important;
      clear: both !important;
      display: block;
      margin: 0 auto !important;
      width: 100%;
    }

    .documentation {
      width: 100% !important;
      height: auto !important;
    }

    .documentation p {
      text-align:center !important;
      margin: 0 !important;
      margin-left: 20px !important;
      margin-right: 20px !important;
      transform: translateY(30px) !important;
      margin-bottom: 30px !important;
    }

  }


    .footer2 {
      height: 160% !important;
    }

    .box2 {
      cursor: pointer;
      transition: all 400ms ease-in-out;
    }

    .box2:hover {
      background: #fc5931;
      transform: scale(1.2);
    }

    .bubbles {
      position: fixed;
      right: 30px;
      top: 240px;
      z-index: 99999999999999;
    }

    .bubble {
      width: 15px;
      height: 15px;
      background: none;
      border: 5px solid rgba(255,255,255,0.5);
      display: block;
      border-radius: 100%;
      margin-top: 10px;
      cursor: pointer;
    }
</style>


<div class="bubbles">
  <div class="bubble bubble1"></div>
  <div class="bubble bubble2"></div>
  <div class="bubble bubble3"></div>
  <div class="bubble bubble4"></div>
  <div class="bubble bubble5"></div>
  <div class="bubble bubble6"></div>

</div>

<div class="bg">


  <h1>Process Of Mortgage</h1>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
  <div class="box2 cube1">
    <div class="box-text" style="position: absolute;">
      <h4><span style="font-size:40px;">01</span> <br/> Documentation</h4>
    </div>
  </div>
  <div class="box2 cube2">
    <div class="box-text" style="position: absolute;">
      <h4><span style="font-size:40px;">02</span> <br/> Documentation</h4>
    </div>
  </div>
  <div class="box2 cube3">
    <div class="box-text" style="position: absolute;">
      <h4><span style="font-size:40px;">03</span> <br/> Documentation</h4>
    </div>
  </div>
  <div class="box2 cube4">
    <div class="box-text" style="position: absolute;">
      <h4><span style="font-size:40px;">04</span> <br/> Documentation</h4>
    </div>
  </div>
  <div class="box2 cube5">
    <div class="box-text" style="position: absolute;">
    <h4><span style="font-size:40px;">05</span> <br/> Documentation</h4>
  </div>
  </div>
  <div class="box2 cube6">
    <div class="box-text" style="position: absolute;">
    <h4><span style="font-size:40px;">06</span> <br/> Documentation</h4>
  </div>
  </div>

</div>

<div style="background: url(../light-blue-bg.png) center center no-repeat; background-size: 200% 200%;" class="second-panel first-panel panel1">


  <div class="documentation">
    <div class="number">
      <h1><span style="font-size: 70px; text-align:center; font-weight: 900 !important;"> 01 </span> <br/> Lorem</h1>

    </div>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
  </div>

  <div class="panel light">
    <div style="background: #1f3952 !important;" class="stripe ">
    </div>
  </div>
</div>

<div style="background: url(../green-bg.png) center center no-repeat; background-size: 200% 200%;"  class="second-panel panel22">
  <div class="documentation">
    <div style="background: #3367d6 " class="number">
      <h1><span style="font-size: 70px; text-align:center; font-weight: 900 !important;"> 02 </span> <br/> Lorem</h1>

    </div>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
  </div>


  <div class="panel light">
    <div style="background: #1f3952 !important;" class="stripe stripe2 ">
    </div>
  </div>
</div>


<div style="background: url(../light-blue-bg.png) center center no-repeat; background-size: 200% 200%;" class="second-panel first-panel panel3">


  <div class="documentation">
    <div class="number">
      <h1><span style="font-size: 70px; text-align:center; font-weight: 900 !important;"> 03 </span> <br/> Lorem</h1>

    </div>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
  </div>

  <div class="panel light">
    <div style="background: #1f3952 !important;" class="stripe ">
    </div>
  </div>
</div>

<div style="background: url(../green-bg.png) center center no-repeat; background-size: 200% 200%;"  class="second-panel panel4">
  <div class="documentation">
    <div style="background: #3367d6 " class="number">
      <h1><span style="font-size: 70px; text-align:center; font-weight: 900 !important;"> 04 </span> <br/> Lorem</h1>

    </div>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
  </div>


  <div class="panel light">
    <div style="background: #1f3952 !important;" class="stripe stripe2 ">
    </div>
  </div>
</div>


<div style="background: url(../light-blue-bg.png) center center no-repeat; background-size: 200% 200%;" class="second-panel first-panel panel5">


  <div class="documentation">
    <div class="number">
      <h1><span style="font-size: 70px; text-align:center; font-weight: 900 !important;"> 05 </span> <br/> Lorem</h1>

    </div>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
  </div>

  <div class="panel light">
    <div style="background: #1f3952 !important;" class="stripe ">
    </div>
  </div>
</div>

<div style="background: url(../green-bg.png) center center no-repeat; background-size: 200% 200%;"  class="second-panel panel6">
  <div class="documentation">
    <div style="background: #3367d6 " class="number">
      <h1><span style="font-size: 70px; text-align:center; font-weight: 900 !important;"> 06 </span> <br/> Lorem</h1>

    </div>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
  </div>


  <div class="panel light">
    <div style="background: #1f3952 !important;" class="stripe stripe2 ">
    </div>
  </div>
</div>



<div style="background: url(../top-view-bg.png) center center no-repeat; background-size:cover; height: 130% !important;"  class="footer2">

  <div style="margin-top: 150px;" class="footer-text">
    <h1>Congragulations!</h1>

    <p>Becoming a homeowner can be exciting and stressful at the same time.
      Take advantage of industry knowledge that will put your fears to rest.
      Iur team will find solutions tonyour lending needs no matter how unique your situation is.
    </p>
  </div>


  <div style="margin-top: 400px;" class="both-footer">
    <div class="left-footer-side">
      <h3>Contact Us</h3>
      <p>39249 Leopard St. Ste A <br/> Palm Desert, CA 92211</p>
      <p>Phone: 760-200-4620</p>
      <p>Fax: 760-200-0046</p>
    </div>
    <div class="right-footer-side">
      <%= simple_form_for @contact, url: new_contact_path do |f| %>
          <%= f.text_field :name, required: true, class: 'form-styling', placeholder: "Name" %>
          <%= f.text_field :number, required: true, class: 'form-styling', placeholder: "Phone Number" %>
          <%= f.text_field :email, required: true, class: 'form-styling', placeholder: "Email" %>
          <%= f.text_area :message, required: true, class: 'form-styling textarea', placeholder: "Message" %>
          <%= f.button :submit, 'Send message', class: "send-msg" %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'partials/show_logo' %>
<%= render 'partials/nav' %>

<%= render 'partials/footer' %>
<%= javascript_include_tag 'nav' %>


<script>


  $(window).on("scroll", function(){
      if(window.scrollY >= $(".panel1").offset().top){
          $(".bubble").css({
              background: "none"
          });
          $(".bubble1").css({
              background: "white"
          })
      }
      if(window.scrollY >= $(".panel22").offset().top){
          $(".bubble").css({
              background: "none"
          });
          $(".bubble2").css({
              background: "white"
          })
      }

      if(window.scrollY >= $(".panel3").offset().top){
          $(".bubble").css({
              background: "none"
          });
          $(".bubble3").css({
              background: "white"
          })
      }


      if(window.scrollY >= $(".panel4").offset().top){
          $(".bubble").css({
              background: "none"
          });
          $(".bubble4").css({
              background: "white"
          })
      }


      if(window.scrollY >= $(".panel5").offset().top){
          $(".bubble").css({
              background: "none"
          });
          $(".bubble5").css({
              background: "white"
          })
      }

      if(window.scrollY >= $(".panel6").offset().top){
          $(".bubble").css({
              background: "none"
          });
          $(".bubble6").css({
              background: "white"
          })
      }
  });



    $(".cube1, .bubble1").click(function(){
        $('html,body').animate({scrollTop: $(".panel1").offset().top});
        $(".bubble").css({
            background: "none"
        });
        $(".bubble1").css({
            background: "white"
        })

    });

    $(".cube2, .bubble2").click(function(){
        $('html,body').animate({scrollTop: $(".panel22").offset().top});
        $(".bubble").css({
            background: "none"
        });
        $(".bubble2").css({
            background: "white"
        })
    });

    $(".cube3, .bubble3").click(function(){
        $('html,body').animate({scrollTop: $(".panel3").offset().top});
        $(".bubble").css({
            background: "none"
        });
        $(".bubble3").css({
            background: "white"
        })
    });

    $(".cube4, .bubble4").click(function(){
        $('html,body').animate({scrollTop: $(".panel4").offset().top});
        $(".bubble").css({
            background: "none"
        });
        $(".bubble4").css({
            background: "white"
        })
    });

    $(".cube5, .bubble5").click(function(){
        $('html,body').animate({scrollTop: $(".panel5").offset().top});
        $(".bubble").css({
            background: "none"
        });
        $(".bubble5").css({
            background: "white"
        })
    });


    $(".cube6, .bubble6").click(function(){
        $('html,body').animate({scrollTop: $(".panel6").offset().top});
        $(".bubble").css({
            background: "none"
        });
        $(".bubble6").css({
            background: "white"
        })
    });

</script>