<%= stylesheet_link_tag 'home' %>

<style>
  .documentation {
    width: 870px;
    height: 250px;
    display: block;
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 999999999999999999;
  }

    .number {
      width: 180px;
      height: 200px;
      background:#1f3952;
      float:left;
      border-radius: .3em;
    }

    .documentation p {
      margin-left: 200px;
      color:white;
      font-size:14px;
      font-family: "Helvetica Neue",sans-serif;
      line-height: 28px;
      margin-top: -10px;

    }

    .number h1 {
      color:white;
      font-size:22px;
      font-family:"Open Sans", sans-serif;
      text-align:center;
      font-weight: 100;
    }

    .right-footer-side input {
      color:white !important;
    }

    .bg {
      width: 100%;
      height:auto;
      min-height: 105%;
      background:url(top-view-bg.png) center center no-repeat;
      background-size:cover;
      text-align:center;
      }

    .bg h1 {
      color:white;
      text-align:center;
      margin-top: 150px;
      font-family: "Open Sans", sans-serif;
      font-size:33px;
      text-transform: uppercase;
    }

    .bg p {
      color:white;
      font-size:17px;
      font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
      line-height: 28px;
      margin-left: 200px;
      margin-right: 200px;
    }

    .box2 {
      margin-left: 20px;
      width: 150px;
      height: 150px;
      margin-top: 40px;
      background:rgba(50,50,100,0.7);
      display: inline-block;
      position: relative;
    }

    .box-text {
      width: 100%;
      height: 100%;
    }

    .box-text h4 {
      color:white;
      font-family: "Open Sans", sans-serif;

    }

  @media only screen and (max-width: 600px) {
    .btn-buy {
      margin-top: -60px !important;
    }
  }

  @media only screen and (max-width: 1000px) {
    .box2 {
      margin: 0 !important;

    }

    .btn-buy {
      margin-top: 50px !important;
      margin-bottom: 40px !important;
    }

    .bg p {
      margin: 0 !important;
      font-size: 14px;
      margin-left: 40px !important;
      margin-right: 40px !important;
    }
    .bg {
      height: auto !important;
    }

    .stripe {
      display: none !important;
    }

    .number {
      position: relative !important;
      clear: both !important;
      display: block;
      margin: 0 auto !important;
      width: 100%;
    }

    .documentation {
      width: 100% !important;
      height: auto !important;
    }

    .panel22 {
      height: 120% !important;
    }

    .documentation p {
      text-align:center !important;
      margin: 0 !important;
      margin-left: 20px !important;
      margin-right: 20px !important;
      transform: translateY(10px) !important;
      margin-bottom: 0px !important;
      font-size:11px !important;
    }

  }


    .footer2 {
      height: 160% !important;
    }

    .box2 {
      cursor: pointer;
      transition: all 400ms ease-in-out;
    }

    .box2:hover {
      background: #fc5931;
      transform: scale(1.2);
    }

    .bubbles {
      position: fixed;
      right: 30px;
      top: 240px;
      z-index: 99999999999999;
    }

    .bubble {
      width: 15px;
      height: 15px;
      background: none;
      border: 5px solid rgba(255,255,255,0.5);
      display: block;
      border-radius: 100%;
      margin-top: 10px;
      cursor: pointer;
    }

    .btn-buy {
      display: inline-block;
      margin: 0 auto;
      width: 250px;
      height: 50px;
      border: none;
      color: white;
      background: #4d7e15;
      font-family:"Helvetica Neue",sans-serif;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      margin-left: 10px;
      cursor: pointer;

      box-shadow: 0 2px 5px 0 rgba(0,0,0,1);
      transition: all 400ms ease-in-out;
      animation-delay: 300ms;
    }
</style>


<div class="bubbles">
  <div class="bubble bubble1"></div>
  <div class="bubble bubble2"></div>
  <div class="bubble bubble3"></div>
  <div class="bubble bubble4"></div>
  <div class="bubble bubble5"></div>
  <div class="bubble bubble6"></div>

</div>

<div class="bg">


  <h1>Process Of Mortgage</h1>
  <p>Our job is to make the mortgage process as seamless as possible for you and your family. Thankfully, we are experts at that. The loan process is broken up into 6 parts: The Documentation Stage, The Appraisal Stage, The Underwriting Stage, The Conditional Approval Stage, The Clear-To-Close Stage, and finally the Closing Stage. We will thoroughly go through each stage with you, but in the mean-time, feel free to browse each stage below to get a general knowledge of what is going on.</p>

  <button onclick="window.location.href='/buy'" class="btn-buy">Buy A Home</button>
  <button onclick="window.location.href='/refinance'" style="background: #ff5734 !important;" class="btn-buy">Refinance</button><br/>

  <div class="box2 cube1">
    <div class="box-text" style="position: absolute;">
      <h4><span style="font-size:40px;">01</span> <br/> Documentation</h4>
    </div>
  </div>
  <div class="box2 cube2">
    <div class="box-text" style="position: absolute;">
      <h4><span style="font-size:40px;">02</span> <br/> Appraisal</h4>
    </div>
  </div>
  <div class="box2 cube3">
    <div class="box-text" style="position: absolute;">
      <h4><span style="font-size:40px;">03</span> <br/> Underwriting</h4>
    </div>
  </div>
  <div class="box2 cube4">
    <div class="box-text" style="position: absolute;">
      <h4><span style="font-size:40px;">04</span> <br/> Conditional Approval</h4>
    </div>
  </div>
  <div class="box2 cube5">
    <div class="box-text" style="position: absolute;">
    <h4><span style="font-size:40px;">05</span> <br/> Clear To Close</h4>
  </div>
  </div>
  <div class="box2 cube6">
    <div class="box-text" style="position: absolute;">
    <h4><span style="font-size:40px;">06</span> <br/> Closing</h4>
  </div>
  </div>

</div>

<div style="background: url(../light-blue-bg.png) center center no-repeat; background-size: 200% 200%;" class="second-panel first-panel panel1">


  <div class="documentation">
    <div class="number">
      <h1><span style="font-size: 70px; text-align:center; font-weight: 900 !important;"> 01 </span> <br/> Documentation</h1>

    </div>
    <p>During The Documentation Stage you are the most important player on the team. As quarterback of the documentation stage, there are a few critical documents we will be asking you to hand off. These documents include:
      <br/>
      1. W2’s – From the last 2 years
      <br/>

      2. 1040 Federal Tax Returns – From the last 2 years
      <br/>

      3. 2 Most Recent Paystubs
      <br/>

      4. 2 Most Recent Bank Statements – All pages
      <br/>

      5. Copy of your drivers license</p>
      <p>During this stage, it is critical that you don’t change any aspects of your financial picture. This means:
      No Major Purchases (e.g. Purchasing urniture for you new home)
      No Applying for New Credit (e.g. Obtaining financing for Car)
      No Change in Employment (Please Don’t Quit Your Job!)</p>
  </div>

  <div class="panel light">
    <div style="background: #1f3952 !important;" class="stripe ">
    </div>
  </div>
</div>

<div style="background: url(../green-bg.png) center center no-repeat; background-size: 200% 200%;"  class="second-panel panel22">
  <div class="documentation">
    <div style="background: #3367d6 " class="number">
      <h1><span style="font-size: 70px; text-align:center; font-weight: 900 !important;"> 02 </span> <br/> Appraisal</h1>

    </div>
    <p>During The Appraisal Stage a licensed 3rd party Appraiser will estimate the value of the home you are about to purchase. This is meant to ensure for you, and your lender, that the home you are buying is worth the price that is being offered.
      The most common method used by an Appraiser to determine your homes value is to compare it against recently sold homes in your neighborhood; typically over the last 6 months. Although the Appraiser will not account for the following when determining your home’s value:
      <br/>
      &bull; Roof
      &bull; Appliances
      <br/>

      &bull; Air Conditioning
      <br/>

      &bull; Plumbing
      <br/>

      &bull; Foundation
      <br/>

      &bull; Windows
      <br/>

      &bull; Floors
      <br/>

      This is why we always recommend our clients obtain a Home Inspection in addition to their Apprasial. If you’d like the recommendation of a good Home Inspector, please let us know, we are happy to help!</p>
  </div>


  <div class="panel light">
    <div style="background: #1f3952 !important;" class="stripe stripe2 ">
    </div>
  </div>
</div>


<div style="background: url(../light-blue-bg.png) center center no-repeat; background-size: 200% 200%;" class="second-panel first-panel panel3">


  <div class="documentation">
    <div class="number">
      <h1><span style="font-size: 70px; text-align:center; font-weight: 900 !important;"> 03 </span> <br/> Underwriting</h1>

    </div>
    <p>During The Underwriting Stage, our Loan Processor reviews all the submitted documentation that you’ve provided and then turns it over to our Underwriting Department. The Underwriter is responsible for performing three critical tasks:
      <br/>
      1. Organization – The Underwriter will compile and organize your documentation into a mortgage-ready file.
      <br/>
      2. Qualification – The Underwriter will reconstruct your scenario to ensure it meets our qualification requirements and guidelines.
      <br/>
      3. Verification –  The Underwriter will verify that all information is accurate and authentic.
      It is not uncommon for Underwriters to request additional documentation, so please do not be alarmed or discouraged if this happens. Instead, be sure to accommodate these additional requests as quickly as possible.</p>
  </div>

  <div class="panel light">
    <div style="background: #1f3952 !important;" class="stripe ">
    </div>
  </div>
</div>

<div style="background: url(../green-bg.png) center center no-repeat; background-size: 200% 200%;"  class="second-panel panel4">
  <div class="documentation">
    <div style="background: #3367d6 " class="number">
      <h1><span style="font-size: 70px; text-align:center; font-weight: 900 !important;"> 04 </span> <br/> Conditional Approval</h1>

    </div>
    <p>This is an exciting step in the process! During The Conditional Approval Stage you receive the first indication that your mortgage loan will be approved by us, as it’s been initially reviewed by the Underwriter. Although, this approval is only valid if certain conditions requested from the our company are met. These conditions may include:
      <br/>
      1. Additional Documentation
      <br/>
      2. Letter of Explantation
      <br/>
      3. Acceptable Appraisal Report
      Once you have met all the required conditions requested, your file will be re-submitted to your underwriter for final approval.</p>
  </div>


  <div class="panel light">
    <div style="background: #1f3952 !important;" class="stripe stripe2 ">
    </div>
  </div>
</div>


<div style="background: url(../light-blue-bg.png) center center no-repeat; background-size: 200% 200%;" class="second-panel first-panel panel5">


  <div class="documentation">
    <div class="number">
      <h1><span style="font-size: 70px; text-align:center; font-weight: 900 !important;"> 05 </span> <br/> Clear To Close</h1>

    </div>
    <p>You’re almost there! During The Clear-To-Close Stage the Underwriter “double checks” that all documentation has been provided and all conditions have been met. We will prepare the final documentation that will need to be signed at closing and we will be reaching out to schedule a closing date.</p>
  </div>

  <div class="panel light">
    <div style="background: #1f3952 !important;" class="stripe ">
    </div>
  </div>
</div>

<div style="background: url(../green-bg.png) center center no-repeat; background-size: 200% 200%;"  class="second-panel panel6">
  <div class="documentation">
    <div style="background: #3367d6 " class="number">
      <h1><span style="font-size: 70px; text-align:center; font-weight: 900 !important;"> 06 </span> <br/> Closing</h1>

    </div>
    <p>Hooray! During The Closing Stage you will be signing the final documentation, signing your title documents, and receiving the keys to your new dream home! That wasn’t too hard, right!?</p>
  </div>


  <div class="panel light">
    <div style="background: #1f3952 !important;" class="stripe stripe2 ">
    </div>
  </div>
</div>




<%= render 'partials/show_logo' %>
<%= render 'partials/nav' %>

<%= render 'partials/footer' %>
<%= javascript_include_tag 'nav' %>


<script>


  $(window).on("scroll", function(){
      if(window.scrollY >= $(".panel1").offset().top){
          $(".bubble").css({
              background: "none"
          });
          $(".bubble1").css({
              background: "white"
          })
      }
      if(window.scrollY >= $(".panel22").offset().top){
          $(".bubble").css({
              background: "none"
          });
          $(".bubble2").css({
              background: "white"
          })
      }

      if(window.scrollY >= $(".panel3").offset().top){
          $(".bubble").css({
              background: "none"
          });
          $(".bubble3").css({
              background: "white"
          })
      }


      if(window.scrollY >= $(".panel4").offset().top){
          $(".bubble").css({
              background: "none"
          });
          $(".bubble4").css({
              background: "white"
          })
      }


      if(window.scrollY >= $(".panel5").offset().top){
          $(".bubble").css({
              background: "none"
          });
          $(".bubble5").css({
              background: "white"
          })
      }

      if(window.scrollY >= $(".panel6").offset().top){
          $(".bubble").css({
              background: "none"
          });
          $(".bubble6").css({
              background: "white"
          })
      }
  });



    $(".cube1, .bubble1").click(function(){
        $('html,body').animate({scrollTop: $(".panel1").offset().top});
        $(".bubble").css({
            background: "none"
        });
        $(".bubble1").css({
            background: "white"
        })

    });

    $(".cube2, .bubble2").click(function(){
        $('html,body').animate({scrollTop: $(".panel22").offset().top});
        $(".bubble").css({
            background: "none"
        });
        $(".bubble2").css({
            background: "white"
        })
    });

    $(".cube3, .bubble3").click(function(){
        $('html,body').animate({scrollTop: $(".panel3").offset().top});
        $(".bubble").css({
            background: "none"
        });
        $(".bubble3").css({
            background: "white"
        })
    });

    $(".cube4, .bubble4").click(function(){
        $('html,body').animate({scrollTop: $(".panel4").offset().top});
        $(".bubble").css({
            background: "none"
        });
        $(".bubble4").css({
            background: "white"
        })
    });

    $(".cube5, .bubble5").click(function(){
        $('html,body').animate({scrollTop: $(".panel5").offset().top});
        $(".bubble").css({
            background: "none"
        });
        $(".bubble5").css({
            background: "white"
        })
    });


    $(".cube6, .bubble6").click(function(){
        $('html,body').animate({scrollTop: $(".panel6").offset().top});
        $(".bubble").css({
            background: "none"
        });
        $(".bubble6").css({
            background: "white"
        })
    });

</script>