<%= stylesheet_link_tag 'home' %>
<%= stylesheet_link_tag 'media-queries' %>

<div id="comingsoon"></div>
<div class="loader">
  <div id="loading"></div>
</div>
<div class="bg">
  <img class="bg-img" src="../poolside.jpg"/>
  <div class="gradient"></div>
  <div class="content">
    <img class="nav-logo" src="../vanmar.png"/>
    <h1 style="z-index: 999999999 !important;">The monster of mortgage</h1>
    <button class="btn1" style="" onclick="window.location.href='/buy'">Buy A Home</button>
    <button class="btn2" style="background: #ff5734 !important;" onclick="window.location.href='/refinance'">Refinance</button>
  </div>
  <%= render 'partials/nav' %>
</div>
<div style="background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url(https://www.bestcatcher.com/wp-content/uploads/2016/07/Proven_Ways_to_be_Happy.jpg) center center no-repeat;  background-size:cover; background-position: -200px 0;" class="second-panel first-panel">
  <div class="second-panel-content mobile-panel-content0">
    <h1>First-Time Homeowner?</h1>
    <p>If you are a first time homeowner you may be eligible for discounts on your rate, closing costs and PMI. Our staff can assist you in calculating your discounts </p>
    <button>create an affordable plan</button>
  </div>

  <div class="video-div-container video-div-container2">
    <img src="https://fm100.com/wp-content/uploads/2015/06/play-button-flat-fm100-grey.png"/>
  </div>
  <div class="panel light">
    <div id="background" class="stripe ">
    </div>
  </div>
</div>

<div  class="second-panel">
  <div class="second-panel-content panel2 mobile-change">
    <h1 style=" width: 100%; font-size: 30px;">First Time Homeowner </h1>
    <p >If you are a first time homeowner you may be eligible for discounts on your rate, closing costs and PMI. Our staff can assist you in calculating your discounts </p>
    <button>Contact Us With Your Questions</button>
  </div>

  <div class="video-div-container">
    <img src="https://fm100.com/wp-content/uploads/2015/06/play-button-flat-fm100-grey.png"/>
  </div>


  <div class="panel light">
    <div style="background: #fc5931 !important;" class="stripe stripe2 ">
    </div>
  </div>
</div>

<div style="background:url(../blue-bg.png) center center no-repeat;  background-size:200% 200%; " class="second-panel first-panel">
  <div class="second-panel-content mobile-panel-content0">
    <h1 style="color: white;">First-Time Homeowner?</h1>
    <p style="color:white;">If you are a first time homeowner you may be eligible for discounts on your rate, closing costs and PMI. Our staff can assist you in calculating your discounts </p>
    <button>create an affordable plan</button>
  </div>

  <div class="video-div-container video-div-container2">
    <img src="https://fm100.com/wp-content/uploads/2015/06/play-button-flat-fm100-grey.png"/>
  </div>

  <div class="panel light">
    <div style="background: #fc5931 !important;"  class="stripe ">
    </div>
  </div>
</div>

<div  style=" background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://assets1.archetypes.com/wp-content/uploads/2015/10/shutterstock_33116836-e1446571988932.jpg) center center no-repeat; background-size:cover; " class="second-panel">
  <div class="second-panel-content panel2 mobile-change no-stripe">
    <h1 style="color:black; width: 100%; font-size: 30px;">Down Payment Insurance</h1>
    <p style="color: black">Depending on the type of loan you are applying for, <br/> it could mean a down payment of up to 20%. Ask our staff today <br/> about our down payment assistance program.</p>
    <button>Apply for your loan today</button>
  </div>
</div>


<div style="   background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://cdn-media-1.lifehack.org/wp-content/files/2015/06/Geniuenly-Happy-People.jpg) center center no-repeat; background-size: cover;" class="second-panel ">
  <div class="second-panel-content panel2 no-stripe">
    <h1>15+ Years Experience</h1>
    <p>Becoming a homeowner can mean a whole new set <br/> of rules. Understand your rights throughout the entire <br/> loan application process. You'll benefit greatly.</p>
    <button>create an affordable plan</button>
  </div>
</div>

<div  class="second-panel panels-container">
  <div class="panel-message">
    <h1 style="letter-spacing: 1px">Get Peace Of Mind With <br/> <span style="font-weight: 300 !important;"> Exceptional Loan Services </span></h1>
  </div>


  <div style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(http://www.financenewspro.com/wp-content/uploads/2016/05/small-business.jpg) center center no-repeat; background-size: cover;" class="panels">
    <div class="box mobile-box">
      <h1>Down Payment Assistance</h1>
      <button>Apply Today</button>
    </div>
  </div>
  <div style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(http://ak9.picdn.net/shutterstock/videos/3773279/thumb/10.jpg) center center no-repeat; background-size: cover;" class="panels">
    <div class="box">
      <h1>Down Payment Assistance</h1>
      <button>Apply Today</button>
    </div>
  </div>
  <div style=" background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/GCDU2hc/business-people-meeting-and-talking-hd-movie-1920x1080_htaxaei__F0000.png) center center no-repeat; background-size: cover;" class="panels">
    <div class="box">
      <h1>Down Payment Assistance</h1>
      <button>Apply Today</button>
    </div>
  </div>
  <div style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(http://footage.framepool.com/shotimg/qf/706817154-lecturing-ok-turning-round-full-body.jpg) center center no-repeat; background-size: cover;" class="panels">
    <div class="box">
      <h1>Down Payment Assistance</h1>
      <button>Apply Today</button>
    </div>
  </div>
</div>

<div style=" background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(https://blog-cdn.static-homes.com/wp-content/uploads/sites/2/2016/07/Buying-a-Rental-Property2.jpg) center center no-repeat; background-size:cover; height: 130% !important;"  class="footer2">

  <div style="margin-top: 150px;" class="footer-text">
    <h1>Get Peace Of Mind With <br/> Exceptional Loan Options</h1>

    <p>Becoming a homeowner can be exciting and stressful at the same time.
      Take advantage of industry knowledge that will put your fears to rest.
      Iur team will find solutions tonyour lending needs no matter how unique your situation is.
    </p>
  </div>


  <div style="margin-top: 400px;" class="both-footer">
    <div class="left-footer-side">
      <h3>Contact Us</h3>
      <p>39249 Leopard St. Ste A <br/> Palm Desert, CA 92211</p>
      <p>Phone: 760-200-4620</p>
      <p>Fax: 760-200-0046</p>
    </div>
    <div class="right-footer-side">
      <form>
        <input type="text" placeholder="Name"/>
        <input type="text" placeholder="Email"/>
        <input type="text" placeholder="Phone"/>
        <textarea type="text" placeholder="Comment"></textarea>
        <button>Submit</button>
      </form>
    </div>
  </div>
</div>

<%= render 'partials/footer' %>
<%= javascript_include_tag 'home' %>

