<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
<%= stylesheet_link_tag 'home' %>
<%= stylesheet_link_tag 'media-queries' %>

<%= stylesheet_link_tag 'video_gallery' %>
<%= render 'partials/nav' %>
<%= render 'partials/show_logo' %>




  <div class="bg">
    <div style="background:url(../top-view-bg.png) center center no-repeat;  background-size:200% 200%; " class="second-panel first-panel">
      <div class="slider">
        <% @videos.each do |video| %>
          <div class="slide">
            <div class="second-panel-content mobile-panel-content0">
              <h1 style="color: white;"><%= video.name %></h1>
              <p style="color:white;"><%= video.description %></p>
            </div>
            <div class="video-div-container video-div-container2">
              <video  id="my_video_1" class="video-js vjs-default-skin" width="100%" height="350px"
                      preload="auto"
                      data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2, 2.5, 3.0], "controls":"true" }'
              >


                <source src="<%= video.mp4.url %>" type='video/mp4'>
                <p class="vjs-no-js">
                  To view this video please enable JavaScript, and consider upgrading to a web browser that
                  <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
              </video>
            </div>
          </div>
        <% end %>
      </div>
      <div class="panel light">
        <div style="background: #1f3952 !important;"  class="stripe ">
        </div>
      </div>
    </div>
  </div>

<h1 class="number">1 / <%= @videos.count %></h1>



<%= render 'partials/footer' %>
<%= javascript_include_tag 'nav' %>


<script>


$(".slider").slick({


});

$(".slick-next").html(">");
$(".slick-prev").html("<");


var $status = $('.number');
var $slickElement = $('.slider');

$slickElement.on('init reInit afterChange', function(event, slick, currentSlide, nextSlide){
    //currentSlide is undefined on init -- set it to 0 in this case (currentSlide is 0 based)
    var i = (currentSlide ? currentSlide : 0) + 1;
    $status.text(i + ' / ' + slick.slideCount);
});

</script>
