
<style>
  h2 {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    margin-top: 150px;
    font-size: 40px;
  }


    button {
      cursor: pointer;
    }


</style>

<%= stylesheet_link_tag 'admin' %>
<%= render 'partials/nav' %>
<%= render 'partials/show_logo' %>
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>


<%= javascript_include_tag 'nav' %>
<%= render 'partials/footer' %>
